.products__lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.25rem;
  text-align: center;
}
.products__lead p {
  width: 100%;
  max-width: 41.25rem;
}
.image__product {
  width: 100%;
  height: auto;
}
.product__text {
  position: relative;
}
.product__line {
  position: absolute;
  top: 9.8125rem;
  left: 9.25rem;
  color: white;
  width: 100%;
  max-width: 28.3125rem;
}
.product__line p {
  color: white;
  background-color: #518581;
  border-radius: 1rem;
  width: 100%;
  max-width: 5.8125rem;
  height: auto;
}
.search__button {
  width: 100%;
  max-width: 8.625rem;
  height: 100%;
  max-height: 3.375rem;
}

.search__button h5 {
  text-wrap: nowrap;
}

.search__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 64.375rem;
  height: 100%;
  max-height: 5.25rem;
  background-color: var(--color-screen-100);
  padding: 1.125rem;
}
z .search__field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section__container {
  display: flex;
  justify-content: space-between;
}
.section__right {
  display: flex;
}
.section__right img {
  width: 100%;
  max-width: 1.875rem;
  height: 100%;
  max-height: 1.875rem;
}

.product__container {
  display: flex;
  gap: 1.8125rem;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 32%;
  margin: 0 auto;
}

.product__card {
  width: 100%;
  max-width: 24.375rem;
  height: auto;
}
