/* This file contains style thats applied to the entire application */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  font-family: "Eudoxus Sans", sans-serif;
  font-size: 1rem;
  color: #151411;
  background-color: #f9f9f9;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Header */
.header {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  border-bottom: 2px solid #ece4de;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.header__nav a {
  text-decoration: none;
  color: #151411;
  font-weight: 500;
}

.header__icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons img {
  width: 1.5rem;
}

/* Footer */

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 2px solid #ece4de;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 0.5rem;
}

.footer__description {
  max-width: 25rem;
  margin-top: 1.875rem;
  color: #151411;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.footer__links {
  display: flex;
  gap: 2rem;
  flex: 2 1 500px;
  justify-content: flex-end;
}

.footer__nav {
  min-width: 120px;
  text-align: center;
}

.footer__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  margin-bottom: 0.3rem;
}

.footer__nav a {
  text-decoration: none;
  color: #151411;
  font-weight: 500;
  font-size: 0.9rem;
  transition: color 0.2s;
}

/* Search Bar */

.search__container {
  display: flex;
  padding: 1.25rem;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-screen-100);
}

.search__field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  border: none;
  color: #afadb5;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.625rem 1.875rem;
  border-radius: 0.5rem;
  width: 100%;
}
