<!DOCTYPE html>
<html lang="en">
  <body>
    <footer>
      <div>
        <div>
          <img src="/assets/images/lalasia.png" alt="logo" />
          <span>Lalasia</span>
        </div>

        <p>
          Lalasia is digital agency that help you make better experience iaculis
          cras in.
        </p>
      </div>
      <div>
        <div>
          <h1>Products</h1>
          <ul>
            <li>New Arrivals</li>
            <li>Best Selling</li>
            <li>Home Decor</li>
            <li>Kitchen Set</li>
          </ul>
        </div>
        <div>
          <h1>Services</h1>
          <ul>
            <li>Catalog</li>
            <li>Blog</li>
            <li>FaQ</li>
            <li>Pricing</li>
          </ul>
        </div>
        <div>
          <h1>Follow Us</h1>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
