<footer class="footer">
  <div class="container footer__container">
    <div class="footer__brand">
      <div class="logo footer__logo">
        <img src="/assets/images/lalasia.png" alt="logo" class="footer-logo" />
        <span>Lalasia</span>
      </div>

      <p class="footer__description p3">
        Lalasia is digital agency that help you make better experience iaculis
        cras in.
      </p>
    </div>

    <div class="footer__links">
      <nav class="footer__nav">
        <h1 class="footer__title">Products</h1>
        <ul>
          <li>
            <a href="#"><p class="p3">New Arrivals</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Best Selling</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Home Decor</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Kitchen Set</p></a>
          </li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h1 class="footer__title">Services</h1>
        <ul>
          <li>
            <a href="#"><p class="p3">Catalog</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Blog</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">FaQ</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Pricing</p></a>
          </li>
        </ul>
      </nav>

      <nav class="footer__nav">
        <h1 class="footer__title">Follow Us</h1>
        <ul>
          <li>
            <a href="#"><p class="p3">Facebook</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Instagram</p></a>
          </li>
          <li>
            <a href="#"><p class="p3">Twitter</p></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
