<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <img src="/assets/images/lalasia.png" alt="lalasia logo" />
      <span>Lalasia</span>
    </div>

    <nav class="nav header__nav">
      <ul>
        <li><a href="/products/index.html">Products</a></li>
        <li><a href="/service.html">Services</a></li>
        <li><a href="/article/">Article</a></li>
        <li><a href="/about.html">About Us</a></li>
      </ul>
    </nav>

    <div class="icons header__icons">
      <a href="#"><img src="/assets/images/bag.svg" alt="cart" /></a>
      <a href="#"><img src="/assets/images/person.svg" alt="sign up" /></a>
    </div>
  </div>
</header>
