<!DOCTYPE html>
<html lang="en">
  <body>
    <header>
      <div>
        <img
          height="auto"
          width="42"
          src="/assets/images/lalasia.png"
          alt="logo"
        />
        <span>Lalasia</span>
      </div>

      <nav>
        <ul>
          <li><a href="/products/index.html">Products</a></li>
          <li><a href="/service.html">Services</a></li>
          <li><a href="/article/">Article</a></li>
          <li><a href="/about.html">About Us</a></li>
        </ul>
      </nav>
      <div>
        <a href="#"><img src="/assets/images/bag.svg" alt="cart" /></a>
        <a href="#"><img src="/assets/images/person.svg" alt="sign up" /></a>
      </div>
    </header>
  </body>
</html>
